

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----Header Navbar---- */

.section-padding{
    padding: 100px 0;
/*     padding-top: 7%; */
    margin: 0px;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "poppins";
}

.navbar-light .navbar-brand{
    color: #000;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;

}

.navbar-light .navbar-brand:focus
.navbar-light .navbar-brand:hover{
    color: #000;
}

.navbar-light .navbar-nav .nav-link{
    color: #000;
}

/* responsive css */

@media only screen and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
}


/*-----Cuerpo Section Inicio----- */

  .img-perfil{
      width: 200px;
      height: 200px;
      border-radius: 200px;
  }
  
  .wrapp-card-infor{
      display: grid;
      place-items: center;
      padding: 30px;
  }


  .wrapp-flex-arg {
      display: flex;
      gap: 8px;
  }
  
  .wrapp-parrafo {
      font-size: 18px;
      font-family: "poppins";
  }

  .wrapp-item-2 {
      font-family: "poppins";
      font-weight: 400;
      font-style: normal;
      padding-top: 15px;
      display: flex;
      gap: 25px;
  }
  

  .wrapp-text {
    inline-size: 700px;
}

.subtitulo{
    font-size: 60px;
    font-family: "poppins";
    font-weight: 600;
}

.verde {
    color: rgb(11, 255, 94);
}

 .h4-text-subti{
    font-weight: 700;
    font-size: 33px;
    padding-top: 15px;
    font-family: "poppins";
    font-style: normal;
}

.caja-texto{
    padding-top: 4%;
}
.-caja-btn{
    padding-top: 30px;
}

.-parrafo-btn{
    font-family: "poppins";
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.parrafo{
    font-family: "poppins";
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
}

.btn-sobre-mi:hover {
    background-color: rgb(11, 255, 94);
    cursor: pointer;
    outline-offset: 4px;
    color: rgb(0, 0, 0);
}

.btn-sobre-mi{
    border: none;
    outline: 2px solid black;
    border-radius: 4px;
    padding: 15px 25px;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.wrapp-sectiones{
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
}


/* Final de section de inicio */

/* sobre mi */

.about-text{
    font-family: "poppins";
    font-size: 19px;
    font-weight: 200;
    font-style: normal;
}

.subtitulos-h2{
    font-family: "poppins";
    font-weight: 800;
    font-size: 35px;
    font-style: normal;
}


/* Caja de iconos */

.wrapp-caja-flex{
    display: flex;
    justify-content: space-evenly;
    padding-top: 85px;
    gap: 15px;
    align-items: center;
}

.wrapp-icono{
    display: flex;
    gap: 50px;

}

.icons{
    display:flex;
    align-items: center;
    right: 0px;
    padding-left: 5px;
    border-radius: 60%;
    width: 48px;
    height: 48px;
    outline: 2px solid rgb(11, 255, 94);
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon-1{
    padding-left: 4.1px;
}

.icon-1{
    color: #000;
    font-size: 30.1px;
}

.icon-2{
    padding-left: 4.1px;
}

.icon-2{
    color: #000;
    font-size: 30.1px;
}

.icon{
    color: #000;
    font-size: 30.1px;
}

.icons:hover{
    outline-offset: 4px;
    background-color:  rgb(11, 255, 94);
    cursor: pointer;
}

.wrapp-prf{
    padding-top: 25px;
    font-size: 20px;
    color: gray;
}

.wrapp-li-{
    display: flex;
    gap: 5px;
}

.wrapp-item-li{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.section-btn{
    text-decoration: none;
    color: black;

}

/* final de iconos */

/* footer */

footer {
    background-color: rgb(255 255 255);
}
.social li {
    display: inline-block;
    color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}

.social li a i {
    padding-top: 4px;
    color: #000;
    transition: .3s;
    font-size: 25px;
}

.social li a i:hover{
    color: rgb(11, 255, 94);
}

.footer .links ul{
    list-style-type: none;
}

ul a {
    text-decoration: none;
    font-family: "poppins";
    font-weight: 200;
    font-style: normal;
}

.pr-5{
    font-family: "poppins";
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
}

.wrapp-h4{
    font-family: "poppins";
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
}

.copy{
    font-size: 15px;
    font-family: "poppins";
    font-weight: 200;
    font-style: normal;
}

.footer .links li a {
    color: #000;
    transition: color 0.2s;
}


.footer .copyright p{
    font-size: 1.rem;
    text-shadow: 1px 1px solid rgb(0, 0, 0);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* fin footer */

/* habilidad */

.container{
    padding-bottom: 15px;
}

.section-iconos-{
    width: 50px;
    height: 50px;
}

 .wrp-subtitulo- {
    font-family: "poppins";
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    padding-top: 8px;
    padding-left: 5px;
}

.section-p-{
    font-family: "poppins";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    padding-top: 5px;
}

.section-subtitulo-{
    font-size: 35px;
    font-family: "poppins";
    font-weight: 200;
    font-style: normal;
}

.wrapp-list, .wrapp-contac {
    gap: 15px;
}

.wrapp-contac{
    font-size: 30px;
}

.img-wrapp{
    width: 100%;
}

/* contacto */

.form-area{
    padding-top: 9%;
}

.row .single-form{
    box-shadow: 0 2px 20px -5px rgb(0,0,0.0.5);
    background-color: #252525;
}

.left{
    background-color: rgba(61, 209, 110, 0.472);
    padding: 200px 93px;
    border-radius: 8px;
}

.left h2 {
    font-style: normal;
    font-family: "poppins";
    color: #000;
    font-weight: 800;
    font-size: 48px;
}

.left h2 span {
    font-size: 40px;
    font-weight: 200;
    font-family: "poppins";
}

.form-label{
    font-size: 20px;
    font-family: "poppins";
    font-weight: 200;
    font-style: normal;
}

.btn{
    font-size: 20px;
    font-family: "poppins";
    font-weight: 200;
}

.right{
    padding: 70px 100px;
    position: relative;
    background-color: #ffffff;
}

.right i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: #fff;
}

.form-control{
    border: 2px solid #000;
}

.right button {
    border: none;
    border-radius: 0;
    background-color: #252525;
    width: 180px;
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.right button:hover{
    background-color: #252525;
}

@media(max-width:767px){
    .left{
        padding: 90px 15px;
        text-align: center;
    }

    .left h2 {
        font-size: 25px;
    }

    .right{
        padding: 25px;
    }

    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 45%;
    }

    .right button {
        width: 150px;
        padding: 12px 0;
    }


}